@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <img src="~/Images/Imagen1.png" width="350" height="350" />
        <p class="lead">PrestamosYA donde solucionamos tus problemas. </p>
    </center>
</div>

<div class="row">
    <div class="col-md-4">\
        <center>
            <img src="~/Images/handshake-icon_34409.png" width="330" height="330" />
            <h2>Confia en Nosotros</h2>
            <p>
            Contactanos cuando necesites un prestamo ya sea para un viaje o para saldar tus deudas.
            </p>
        </center>
    </div>


    <div class="col-md-4">
        <center>
        <img src="~/Images/1486564179-finance-saving_81499.png" width="350" height="350" />
        <h2>Mejor tasa del mercado</h2>
       
            <p>Nuestras tasas de interes son las mas bajas del mercado.
            </p>
     
        </center>
    </div>


    <div class="col-md-4">
        <center> 
        <img src="~/Images/1486564168-finance-bank-check_81495.png" width="350" height="350" />
        <h2>Disponibilidad</h2>
        <p>Solicita tu prestamo y te lo aprobamos en 24 horas laborales.</p>
        </center>
    </div>
</div>